.listing-section {
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: 2rem;
}

.listing-section .sectionTitle {
  color: #FFFFFF;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.listing-section .headerSeparator {
  height: 2px;
  background-color: #FFD16F;
  width: 90%;
  margin: 1rem auto;
}

.property-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 1.5rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .property-cards {
    flex-direction: column;
    align-items: center;
  }

  .property-cards>* {
    width: 100%;
    max-width: 500px;
  }
}

@media (max-width: 480px) {
  .listing-section {
    padding: 1rem;
  }

  .listing-section .sectionTitle {
    font-size: 2rem;
  }

  .listing-section .headerSeparator {
    width: 90%;
  }

  .property-cards>* {
    width: 100%;
  }
}