.team-section {
    padding: 40px 20px;
  }
  
  .team-header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .team-header-image {
    flex: 1;
    max-width: 40%;
  }
  
  .team-header-image img {
    width: 100%;
    height: auto;
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
  }
  
  .team-header-content {
    flex: 1;
    max-width: 60%;
    padding: 20px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  .team-top h2 {
    font-size: 32px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 15px;
  }
  
  .team-top p {
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.8;
  }
  
  .team-main {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .team-main-text {
    font-size: 18px;
    color: #2c3e50;
    line-height: 1.8;
    margin-bottom: 20px;
    white-space: pre-wrap;
  }

  .strong{
    font-weight: bold;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
  }

  .strong::before {
    content: "+";
    position: absolute;
    left: 0;
    transition: transform 0.3s ease;
  }
  
  .strong.open::before {
    content: "−";
  }

  @media (max-width: 768px) {
    .team-header {
      flex-direction: column;
    }
  
    .team-header-image {
      max-width: 100%;
      margin-bottom: 20px;
      padding-bottom: 17rem;
    }
  
    .team-header-content {
      max-width: 100%;
      width: 94.5%;
      min-height: 275px;
    }
  
    .team-top h2 {
      font-size: 28px;
      padding-left: 1.5rem;
    }
  
    .team-top p {
      font-size: 16px;
    }
  
    .team-main {
      margin-top: 20px;
    }
  
    .team-main-text {
      font-size: 16px;
    }
  }
  
  @media (max-width: 480px) {
    .team-header {
      flex-direction: column;
    }
  
    .team-header-image img {
      object-fit: cover;
    }
  
    .team-header-content {
      padding: 15px;
    }
  
    .team-top h2 {
      font-size: 24px;
    }
  
    .team-top p {
      font-size: 14px;
    }
  
    .team-main-text {
      font-size: 14px;
    }
  }
  