.property-card {
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  text-decoration: none;
  color: #1A1A1A;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.property-card:hover {
  transform: scale(1.03);
}

.property-image-container {
  height: 300px;
  width: 100%;
}

.property-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.property-content {
  padding: 1rem;
  text-align: center;
}

.property-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #333333;
}

.property-price {
  font-size: 1.5rem;
  color: #4f4f4f;
  margin-bottom: 1rem;
}

.property-details {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  list-style: none;
  padding: 0;
  font-size: 1rem;
  color: #333333;
}

.property-details li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-area::before,
.icon-rooms::before,
.icon-kitchens::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
}

.icon-area::before {
  background-image: url('../../assets/images/square.png');
}

.icon-rooms::before {
  background-image: url('../../assets/images/bed.png');
}

.icon-kitchens::before {
  background-image: url('../../assets/images/bathroom.png');
}

@media (max-width: 768px) {
  .property-image-container {
    height: 200px;
  }

  .property-title {
    font-size: 1.5rem;
  }
}
