
.section {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.statistics-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  padding: 2rem;
  gap: 3rem;
}

.statistics-content {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.statistics-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
  margin-block-start: 0px;
}

.statistics-text {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.statistics-numbers {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  color: #333;
}

.stat-item {
  text-align: center;
  flex: 1 1 100px;
}

.stat-value {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.stat-label {
  font-size: 1rem;
  color: #555;
}

.statistics-image-container {
  flex: 1;
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statistics-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  max-height: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.about-button {
  font-family: 'Antic Didone', sans-serif;
  background-color: #FFD16F;
  color: black;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
  height: 4rem;
  display: flex;
  align-items: center;
}

.about-button:hover{
  background-color: #ceb04e;
}

@media (max-width: 768px) {
  .statistics-section {
    flex-direction: column;
    align-items: center;
  }

  .statistics-content, .statistics-image-container {
    max-width: 100%;
    text-align: center;
  }

  .statistics-numbers {
    justify-content: center;
    gap: 1rem;
  }

  .stat-item {
    flex: 1 1 100%;
    margin-bottom: 1rem;
  }

  .statistics-title {
    font-size: 2rem;
  }

  .statistics-text {
    font-size: 0.9rem;
  }
}

.section.dark .statistics-title {
  color: #FFD16F; 
}

.section.dark .statistics-text {
  color: #CCCCCC; 
}

.section.dark .stat-value {
  color: #FFD16F; 
}

.section.dark .stat-label {
  color: #CCCCCC; 
}

.section.dark .statistics-image {
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2);
}
