.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: var(--navbar-top, 10px);
  background-color: #1A1A1A;
  color: #FFFFFF;
  padding: var(--navbar-padding) 1rem;
  z-index: 1000;
  transition: all 0.3s ease;
  max-width: 100%;
}

.navbar.no-scroll {
  position: relative;
  padding: 1rem 2rem;
  box-shadow: none;
  background-color: #1A1A1A;
  font-size: 1rem;
  top: 0;
}

.logo-container-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.secondLogo-link {
  display: inline-block;
}


.second-logo-container{
  padding-left: 0.5rem;
}

.brand-logo {
  max-height: calc(var(--navbar-font-size, 3rem) * 3);
  transition: max-height 0.1s ease;
  width: auto;
}

.real-logo {
  max-height: calc(var(--navbar-font-size, 3rem) * 4);
  max-width: calc(var(--navbar-font-size, 3rem) * 2.5);
  width: auto;
  object-fit: contain;
  transition: max-height 0.1s ease, max-width 0.1s ease;
  margin-right: 1rem;
}

.navbar.sticky {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar.scrolled {
  padding: 0.5rem 1rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  color: #FFFFFF;
}

.navbar-links {
  display: flex;
  gap: calc(var(--navbar-gap)*0.40);
  align-items: center;
  justify-content: space-around;
  transition: gap 0.3s ease;
}

.navbar-links span {
  cursor: pointer;
  font-family: 'Antic Didone', sans-serif;
  font-weight: bolder;
  font-size: clamp(1.2rem, 1.2vw, 1.6rem);
  color: #FFFFFF;
  transition: color 0.3s ease;
}

.navbar-links span:hover {
  color: #CEB04E;
  text-decoration: underline;
}

.navbar.scrolled .navbar-links {
  font-size: 0.9rem;
}

span.hire-us {
  color: black;
}

span.hire-us:hover {
  color: black;
}

.hire-us {
  border: 1px solid #FFD16F;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
  background-color: #FFD16F;
  white-space: nowrap;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.hire-us:hover {
  background-color: #ceb04e;
  color: black;
}

.navbar.no-scroll {
  padding: 1rem 1rem;
  box-shadow: none;
  background-color: #1A1A1A;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1A1A1A;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 10;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links span {
    font-size: 16px;
    padding: 0.5rem;
    text-align: center;
  }

  .hire-us {
    font-size: 14px;
    padding: 0.4rem 0.8rem;
  }

  .brand-logo {
    max-height: calc(var(--navbar-font-size, 1.5rem) * 4);
    max-width: 70%;
  }

  .real-logo {
    max-height: calc(var(--navbar-font-size, 1.5rem) * 2);
    max-width: 70%;
  }

  .logo-container-wrapper{
    gap: 0;
  }

  .logo-container {
    display: inline-block;
  }

  .real-logo {
    object-fit: contain;
    max-width: 40%;
  }

  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .hire-us {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}
