.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-between;
  position: relative;
}

.navbar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar-links {
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: space-around;
}

.navbar-links span {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  color: #374151;
  font-size: 18px;
}

.hire-us {
  border: 1px solid #f7b32b;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: black;
  white-space: nowrap;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
    z-index: 10;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links span {
    font-size: 16px;
    padding: 0.5rem;
    text-align: center;
  }

  .hire-us {
    font-size: 14px;
    padding: 0.4rem 0.8rem;
  }
}

.brand-logo{
  max-width: 100px;
}