.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.hero-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero {
  max-height: 400px;
  transform: translate(25%, 0%);
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  max-height: 400px;
}

.hero-text {
  display: flex;
  transform: translate(-50%, -100%);
  text-align: center;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  flex-direction: column;
  gap: 10px;
}

.hero-text h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.4;
  width: 500px;
  color: #000;
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-section {
    height: 400px;
  }
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  color: #000;
  margin: 0;
  max-width: 90%;
}

.hero-title span {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
}


.hero-button {
  background-color: #ceb04e;
  color: black;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
}