.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1A1A1A;
  color: #fff;
  padding: 2rem;
  flex-wrap: wrap;
}

.footer-left, .footer-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.footer-right{
  align-items: flex-end;
  padding-left: 5rem;
}

.footer-left{
  margin-top: 1.8rem;
}

@media (max-width: 768px) {
  .footer-right {
    align-items: center;
    text-align: center;
    padding-left: 0rem;
  }
  .footer-left{
    margin-top: 0rem;
  }
}

.footer-left_top h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer-left_mid p {
  margin: 0;
  font-size: 0.9rem;
  line-height: 1.5;
}

.footer-left_bottom {
  display: flex;
  gap: 1rem;
}

.footer-icon {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.footer-icon:hover {
  color: #ddd;
}

.footer-right_top img {
  width: 150px;
  height: auto;
}

.footer-right_bottom p {
  margin: 0;
  font-size: 0.9rem;
}
